fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
asyncpg
psycopg[binary]
alembic
pinecone
redis
hiredis
langchain
langgraph
langsmith
langchain-community
transformers
torch
torchvision
requests
httpx
paystackapi
pillow
opencv-python
fpdf2
python-dotenv
python-multipart
sentence-transformers
websockets
langchain-groq
twilio
huggingface_hub
pytest
pytest-asyncio